#about {
    background-color: #F8F9FA;
  }
  
  #about h2 {
    color: #333;
    font-weight: bold;
  }
  
  #about p {
    color: #555;
    line-height: 1.6;
  }
  
  #about .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  #about img {
    border: 5px solid #ddd;
  }
  
  @media (max-width: 768px) {
    #about img {
      max-width: 250px;
      margin: 0 auto;
    }
  
    #about p {
      text-align: center;
    }
  }
  